#### Get the list of all column names from headers

column_headers = list(df.columns.values)

#### Drop columns

df.drop(['B', 'C'], axis=1)

#### Make subset (new dataframe) selecting columns from original dataframe

# Using DataFrame.copy() create new DaraFrame.(con este método las modificaciones al subset no afectan al dataframe original)
df2 = df[['Courses', 'Fee']].copy()

# Using DataFrame.filter() method.
df2 = df.filter(['Courses','Fee'], axis=1)

# USing DataFrame.transpose() Method.
df2 = pd.DataFrame([df.Courses, df.Fee]).transpose()

# Using DataFrame.iloc[] create new DataFrame by df.copy().
df2 = df.iloc[: , [1, 2]].copy()

# Using DataFrame.loc[] create new DataFrame by specific column.
df2=df.loc[:, df.columns.drop(['Courses', 'Discount'])]

# Create New DataFrame of Specific column by DataFrame.assign() method.
df2 = pd.DataFrame().assign(Courses=df['Courses'], Duration=df['Duration'])

# Create new pandas DataFrame.(las modificaciones que se hagan en el subset afectan al dataframe original)
df2 = df[['Courses','Fee']]

#### Max Value

# df is a pandas dataframe

# max value in a column
df['Col'].max()
# max value for multiple columns
df[['Col1', 'Col2']].max()
# max value for each numerical column in the dataframe
df.max(numeric_only=True)
# max value in the entire dataframe
df.max(numeric_only=True).max()
# max value over two columns
df[['Col1', 'Col2']].max().max()

# --> You can get the index of the max value by doing:
i = df['Col'].idxmax()

#### Sort (Sorting)

# Sort by one column (ascending)
df.sort_values(by=['col1'])

# Sort by one column (descending)
df.sort_values(by='col1', ascending=False)

# Sort by multiple columns
df.sort_values(by=['col1', 'col2'])

# Puttig NAs first
df.sort_values(by='col1', ascending=False, na_position='first')

# Sorting with a key function
df.sort_values(by='col4', key=lambda col: col.str.lower())

#### Filter (Filtering) by column value

# Filter Rows using DataFrame.query()
df2=df.query("Courses == 'Spark'")

#Using variable
value='Spark'
df2=df.query("Courses == @value")

#inpace
df.query("Courses == 'Spark'",inplace=True)

#Not equals, in & multiple conditions
df.query("Courses != 'Spark'")
df.query("Courses in ('Spark','PySpark')")
df.query("`Courses Fee` >= 23000")
df.query("`Courses Fee` >= 23000 and `Courses Fee` <= 24000")

# Other ways to Filter Rows
df.loc[df['Courses'] == value]
df.loc[df['Courses'] != 'Spark']
df.loc[df['Courses'].isin(values)]
df.loc[~df['Courses'].isin(values)]
df.loc[(df['Discount'] >= 1000) & (df['Discount'] <= 2000)]
df.loc[(df['Discount'] >= 1200) & (df['Fee'] >= 23000 )]

df[df["Courses"] == 'Spark'] 
df[df['Courses'].str.contains("Spark")]
df[df['Courses'].str.lower().str.contains("spark")]
df[df['Courses'].str.startswith("P")]

df.apply(lambda row: row[df['Courses'].isin(['Spark','PySpark'])])
df.dropna()

#### Get a cell value

# Belwo are quick example 
# Using loc[]. Get cell value by name & index
print(df.loc['r4']['Duration'])
print(df.loc['r4'][2])

# Using iloc[]. Get cell value by index & name
print(df.iloc[3]['Duration'])
print(df.iloc[3,2])


# Using DataFrame.at[]
print(df.at['r4','Duration'])
print(df.at[df.index[3],'Duration'])

# Using DataFrame.iat[]
print(df.iat[3,2])

#Get a cell value (the number inside the [] in .values[3] in this case would be index 3 of rows)
print(df["Duration"].values[3])

# Get cell value from last row
print(df.iloc[-1,2])
print(df.iloc[-1]['Duration'])
print(df.at[df.index[-1],'Duration'])

#### Query


# Query Rows using DataFrame.query()
df2=df.query("Courses == 'Spark'")

#Using variable
value='Spark'
df2=df.query("Courses == @value")

#inpace
df.query("Courses == 'Spark'",inplace=True)

#Not equals, in & multiple conditions
df.query("Courses != 'Spark'")
df.query("Courses in ('Spark','PySpark')")
df.query("`Courses Fee` >= 23000")
df.query("`Courses Fee` >= 23000 and `Courses Fee` <= 24000")

#### Changing datatype of a column

df['DataFrame Column'] = df['DataFrame Column'].astype(float)

#### resetting the DataFrame index

df = df.reset_index()

#### Exporting to csv

df.to_csv('file_name.csv', encoding='utf-8')
df.to_csv('file_name.csv',index=False, encoding='utf-8') #para no exportar el índice

#### Rename columns

df.rename(columns={"id": "ID"}, inplace=True)

#### Merge dataframes (concat)

In [10]: result = pd.concat([df1, df4], axis=1, join="inner")

#### Iterating over rows

for ind in df.index:
    print(df['Col1_Name'][ind], df['Col2_name'][ind])